{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
  
  <div class="site-wrap">
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>
    {% if carts %}
    <div class="site-section">
      <div class="container">
        <div class="row mb-12">
          
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in carts %}
                  <tr>
                    <td class="product-thumbnail">
                      <img src="{{i.product.product_image.url}}" alt="Image" class="img-fluid" height="100px" width="100px">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{i.product.product_category}}</h2>
                    </td>
                    <td>{{i.product.product_price}}</td>
                    <td>
                      <form method="post" action="{% url 'change_qty' %}">
                        {% csrf_token %}
                        <input type="hidden" name="cid" value="{{i.pk}}">
                        
                      <div class="input-group mb-3" style="max-width: 120px;">
                        
                        
                        <input type="number" value="{{i.product_qty}}" name="product_qty" min="1" max="10" onchange="this.form.submit()">
                        
                        
                      </div>
                      </form>
                    </td>
                    <td>{{i.total_price}}</td>
                    <td><a href="{% url 'remove_from_cart' pk=i.product.pk %}" class="btn btn-primary btn-sm">X</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
  
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              
              
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="text-black h4" for="coupon">Coupon</label>
                <p>Enter your coupon code if you have one.</p>
              </div>
              <div class="col-md-8 mb-3 mb-md-0">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-sm">Apply Coupon</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">{{net_price}}</strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">{{net_price}}</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                  <form method="post" action="{% url 'pay' %}">
                    {% csrf_token %}
                    <input type="hidden" name="amount" value="{{net_price}}">
                    <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}

    <br><br><br>
    <h3 align="center">No Products In Cart</h3>
    <br><br><br>
    {% endif %}
  </div>
  </body>
</html>
{% endblock %}